<div class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <h2 class="title is-4">The payment failed. :(</h2>
                    <div class="subtitle is-6">I would love to tell you what happened, but I'm not very good at this.</div>
                    <%= link_to 'Return home', root_path %>
                </div>
            </div>
        </div>
    </div>