<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <h2 class="title is-4">Thanks so much!</h2>
                <div class="subtitle is-6">You've done a great thing today.</div>
                <%= link_to 'Return home', posts_path %>
            </div>
        </div>
    </div>
</div>